Source: qtpairs
Section: comm
Priority: optional
Maintainer: giotti <@>
Build-Depends: 
Standards-Version: 1.0.0
Homepage: http://www.qtmoko.org
Vcs-Git: git://github.com/giotti/qtmoko.git
Vcs-Browser: https://github.com/giotti/qtmoko

Package: qtpairs
Architecture: any
Depends: 
Description: A pairs game
